<style>

h1 {

font-size: 30px;
}
    table {
      border-collapse: separate;
      border-spacing: .2em;
      display: flex;
      flex-wrap: wrap;
    }
  
    td {
  
      text-align: center;
      border-radius: 8px;
      width: 120px;
      margin: 2px;
      text-align: center;
      line-height: 20px;
      font-size: 13px;
      border-radius: 8px;
      color: black;
  
    }
    tr{
        display: block;
      }

      tr:hover { box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5); cursor: pointer; }


 .newFont{
      color: aliceblue;
    }

.negfour{
    background-color: #FF0000;
}

.negthree{
    background-color: #FF6400;
}
.negtwo{
    background-color: #FF9664;
}
.negone{
    background-color: #FFC896;
    color: black;
}
.lesszero{

    background-color:#FFE1AF;
    color: black;
}
.posfour{
    background-color:#385724;
}
.posthree{
    background-color:#548235;
}
.postwo{
    background-color:#A9D18E;
    color: black;
}
.posone{
    background-color:#C5E0B4;
    color: black;
}
.grtzero{
    background-color:#E2F0D9;
    color: black;
}
.eqzero{
    background-color:#E2F0D9;
    color: black;
}
  </style>