{% extends "stocks/base.html" %}
{% load tailwind_filters %}
{% include "stocks/customcss.html" %} 
{% block content %}
{% include "stocks/customcss.html" %}
 

{% if request.POST %}
<h1> Map of FNO listed stocks for {{heatmap}} By Price Change % </h1>
<br>
{% else %}
<h1> Map of FNO listed stocks stocks for daily By Price Change % </h1>
<br>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}

<button type="submit" value="1day" name="heatmap" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">1day </button>
 <button type="submit" value="1week" name="heatmap" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">1week </button>
<button type="submit" value="1month" name="heatmap" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">1month </button>
<button type="submit" value="3month" name="heatmap" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">3month</button>
<button type="submit" value="6month" name="heatmap" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">6month </button>
<button type="submit" value="1year" name="heatmap" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">1Year </button>
</form>

{% comment %}
  
{{ val }}
{% endcomment %}

<table>`
 
  {% for stock in fostocks %}
  {% if stock.per_chan %}
  <tbody>
    <tr>       
      <td class="newFont {% if stock.per_chan < -4 %}negfour
       {% elif stock.per_chan < -3 %}negthree
        {% elif stock.per_chan < -2 %}negtwo
         {% elif stock.per_chan < -1 %}negone
        {% elif stock.per_chan < 0 %}lesszero
        {% elif stock.per_chan > 4 %}posfour
        {% elif stock.per_chan > 3 %}posthree
        {% elif stock.per_chan > 2 %}postwo
        {% elif stock.per_chan > 1 %}posone
        {% elif stock.per_chan > 0 %}grtzero
        {% elif stock.per_chan == 0 %}eqzero
        {% endif %}" >

          
        <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}">
          <b>{{stock.stock.symbol}}</a></b><br>
        <b>{{stock.close}}</b><br>
        <!--<b>{{stock.prev_close}}</b><br>-->
        <b>{{stock.per_chan}}%</b><br>
      </td>

    </tr>


    {% endif %}
    {% endfor %}

    </tbody>


</table>

{% endblock %}