
{% extends "stocks/base.html" %}
{% load tailwind_filters %}




{% block content %}

<div id="container" style="width:100%";class="mx-auto px-10 py-10">
<div id="left" style="float:left; width:50%;">
<div class="max-w-lg w-full ">
  <h5>Date: {{ latest_day }}</h5>
   
  {% comment %}
    
  
    <form action="' %}" method="POST">
        {% csrf_token %}
      </form>
      {% endcomment %}
        
      <a href="{% url 'stocks:fnoheatmap' %}"><button type="submit" value="heatmap" name="heatmap" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">heatmap </button></a>
        
    
</div>

</div>
<div id="right" style="float:right; width:50%";class=" px-10 py-10">
    <form method="get">
    <input class="mt-6 rounded-lg " type="text" id="myInput" 
        onkeyup="myFunction()" placeholder="Search for stock names.." title="Type in a name">
        </form>
     
        </div>
    
   </div>
        

  <div>

    

        <table class="table-auto"  width="100%" id="myTable1" >
            <thead>
                <tr>
                    <th data-type="string">Symbol</th>
                    <th data-type="string">Company</th>
                     <th data-type="number">Open</th>
                    <th data-type="number">High</th>
                    <th data-type="number">Low</th>
                    <th data-type="number">Close</th>
                    <th data-type="number">Last_close</th>
                    <!-- <th data-type="number">52WH</th>
                    <th data-type="number">52WL</th> -->
                   <th data-type="number">% Change</th>
                    <th data-type="number">Volume</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for stock in fostocks %}
                {% if stock.diff is not None %}
                <tr>
                    <td><a href="{% url 'stocks:stock-detail' stock.stock.symbol %}" target="_blank">{{stock.stock.symbol}}</a></td>
                    <td><a href="{% url 'stocks:stock-return' stock.stock.company %}" target="_blank">{{stock.stock.company}}</a></td>
                    <td>{{stock.open}}</td>
                    <td>{{stock.high}}</td>
                    <td>{{stock.low}}</td>
                    <td>{{stock.close}}</td>
                    <td>{{stock.prev_close}}</td>
                    <!-- <td>{{stock.yearhigh}}</td>
                    <td>{{stock.yearlow}}</td> -->
                    {% if stock.per_chan >= 0 %}
                    <td style="color: green;">{{stock.per_chan}}</td>
                    {% else %}
                    <td style="color: red;">{{stock.per_chan}}</td>
                    {% endif %}
                    <td>{{stock.volume}}</td>
                   
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
        </div>

        <!--script type="text/javascript">

            $(document).ready( function () {
                 $('#table_id').DataTable();
                } );


      
        </script-->
<script>  
function myFunction() {
            var input, filter, table, tr, td, i;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable1");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // for column one
                 td1 = tr[i].getElementsByTagName("td")[1]; // for column two
            /* ADD columns here that you want you to filter to be used on */
                if (td) {
                  if ( (td.innerHTML.toUpperCase().indexOf(filter) > -1) || (td1.innerHTML.toUpperCase().indexOf(filter) > -1) )  {            
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            } 
                        
</script>
{% endblock %}    



