{% extends "stocks/base.html" %}
{% load tailwind_filters %}




{% block content %}
<style>
  h1 {

font-size: 30px;
}
  table {
    border-collapse: separate;
    border-spacing: .2em;
    display: flex;
    flex-wrap: wrap;
  }

  td {

    text-align: center;
    border-radius: 8px;
    width: 120px;
    margin: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    border-radius: 8px;
    color: black;

  }

  .newFont{
    color: aliceblue;
  }

</style>


<h1 class="mine"> Map of {{sectorstock.indices}} stocks for Period One Week By Price Change % </h1>
<br>



<a href="{% url 'stocks:index-heatmap' sectorstock.indices %}"><button type="submit" name="1month" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">Daily </a></button>
<a href="{% url 'stocks:onemonthindex' sectorstock.indices %}"> <button type="submit" name="1week" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">1month </a></button>
<a href="{% url 'stocks:threemonthindex' sectorstock.indices %}"><button type="submit" name="3month" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">3month</a></button>
<a href="{% url 'stocks:sixmonthindex' sectorstock.indices %}"><button type="submit" name="6month" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">6month</a> </button>
<a href="{% url 'stocks:oneyearindex' sectorstock.indices %}"><button type="submit" name="1Year" class="w-40  float-none bg-blue-500 text-white hover:bg-blue-600 px-2 py-2 rounded-lg">1Year </a></button>

<br><br>


<table>
  
  {% for stock in stocksectorprice %}
  <tbody>
    <tr>
  {% if stock.per_chan < -4 %} 
  
    
      <td class="newFont" style="background-color: #FF0000;">
        <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
        <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
      </td>


      {% elif stock.per_chan < -3 %} <td class="newFont" style="background-color: #FF6400;">
        <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
        <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>

        {% elif stock.per_chan < -2 %} <td style="background-color: #FF9664;;">
          <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
          <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>

          {% elif stock.per_chan < -1 %} <td style="background-color:  #FFC896;">
            <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
            <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>

            {% elif stock.per_chan < 0 %} <td style="background-color: #FFE1AF;;">
              <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
              <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>

              {% elif stock.per_chan > 4 %}

              <td class="newFont" style="background-color: #385724;;">
                <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
                <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
              </td>

              {% elif stock.per_chan > 3 %}

              <td class="newFont" style="background-color: #548235;">
                <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
                <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
              </td>

              {% elif stock.per_chan > 2 %}

              <td style="background-color: #A9D18E;;">
                <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
                <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
              </td>

              {% elif stock.per_chan > 1 %}

              <td style="background-color: #C5E0B4;;">
                <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
                <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
              </td>

              {% elif stock.per_chan > 0 %}

              <td style="background-color: #E2F0D9;;">
                <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
                <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
              </td>

              {% elif stock.per_chan == 0 %}

              <td style="background-color: #E2F0D9;;">
                <a href="{% url 'stocks:stock-detail' stock.stock.symbol %}"><b>{{stock.stock.symbol}}</a></b><br>
                <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
              </td>
    </tr>

    {% endif %}


    {% endfor %}

    </tbody>


</table>







{% endblock %}