{% extends "stocks/base.html" %}
{% load tailwind_filters %}

{% block content %}
{% include "stocks/customcss.html" %}

<style>


      td {
    
        text-align: center;
        border-radius: 8px;
        width: 150px;
        margin: 2px;
        text-align: center;
        line-height: 20px;
        font-size: 13px;
        border-radius: 25px;
        color: black;

          
      }
    
    
    </style>
    
    
    <h1 class="mine"> Map of  Major_Index for Period Daily By Price Change % </h1>
    <br>
    
    
    <br><br>
    
    
    <table>
      
      {% for stock in indexprice %}
      {% if stock.per_chan %}
      <tbody>
        <tr>
          <td class="newFont {% if stock.per_chan < -4 %}negfour
       {% elif stock.per_chan < -3 %}negthree
        {% elif stock.per_chan < -2 %}negtwo
         {% elif stock.per_chan < -1 %}negone
        {% elif stock.per_chan < 0 %}lesszero
        {% elif stock.per_chan > 4 %}posfour
        {% elif stock.per_chan > 3 %}posthree
        {% elif stock.per_chan > 2 %}postwo
        {% elif stock.per_chan > 1 %}posone
        {% elif stock.per_chan > 0 %}grtzero
        {% elif stock.per_chan == 0 %}eqzero
        {% endif %}" >     
        <a  href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
            <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
          </td>
        </tr>
        {% endif %}
   
        {% endfor %}
    
        </tbody>
       
        {% for stock in sectorprice %}
        {% if stock.per_chan %}
        
      <tbody>
        
        <tr>
          <td class="newFont {% if stock.per_chan < -4 %}negfour
          {% elif stock.per_chan < -3 %}negthree
           {% elif stock.per_chan < -2 %}negtwo
            {% elif stock.per_chan < -1 %}negone
           {% elif stock.per_chan < 0 %}lesszero
           {% elif stock.per_chan > 4 %}posfour
           {% elif stock.per_chan > 3 %}posthree
           {% elif stock.per_chan > 2 %}postwo
           {% elif stock.per_chan > 1 %}posone
           {% elif stock.per_chan > 0 %}grtzero
           {% elif stock.per_chan == 0 %}eqzero
           {% endif %}" >
            <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}">
              <b>{{stock.sectorial.sector}}</a></b><br>
            <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
        </tr>
        {% endif %}
    
        {% endfor %}
    
        </tbody>      
  
    
    </table>

{% endblock %}    