{% extends "stocks/base.html" %}
{% load tailwind_filters %}

{% block content %}

<style>
    h1 {
    
      font-size: 30px;
    }
    
      table {
        border-collapse: separate;
        border-spacing: .2em;
        display: flex;
        flex-wrap: wrap;
      }
      tr{
        display: block;
      }

      tr:hover { box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5); cursor: pointer; }


      td {
    
        text-align: center;
        border-radius: 8px;
        width: 150px;
        margin: 2px;
        text-align: center;
        line-height: 20px;
        font-size: 13px;
        border-radius: 25px;
        
        
    
      }
      .newFont{
        color: aliceblue;
      }
    
    </style>
    
    
    <h1 class="mine"> Map of  Major_Index for Period Daily By Price Change % </h1>
    <br>
    
    
    <br><br>
    
    
    <table>
      
      {% for stock in indexprice %}
      <tbody>
        <tr>
      {% if stock.per_chan < -4 %} 
      
        
          <td class="newFont" style="background-color: #FF0000 ; ">
            <a  href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
            <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
          </td>
    
          
          {% elif stock.per_chan < -3 %} <td class="newFont" style="background-color: #FF6400;">
            <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
            <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
    
            {% elif stock.per_chan < -2 %} <td style="background-color: #FF9664;;">
              <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
              <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
    
              {% elif stock.per_chan < -1 %} <td style="background-color:  #FFC896;">
                <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
                <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
    
                {% elif stock.per_chan < 0 %} <td style="background-color: #FFE1AF;;">
                  <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
                  <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
    
                  {% elif stock.per_chan > 4 %}
    
                  <td class="newFont" style="background-color: #385724;;">
                    <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan > 3 %}
    
                  <td class="newFont" style="background-color: #548235;">
                    <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan > 2 %}
    
                  <td style="background-color: #A9D18E;;">
                    <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan > 1 %}
    
                  <td style="background-color: #C5E0B4;;">
                    <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan > 0 %}
    
                  <td style="background-color: #E2F0D9;;">
                    <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan == 0 %}
    
                  <td style="background-color: #E2F0D9;;">
                    <a href="{% url 'stocks:index-price' stock.broader.indices %}"><b>{{stock.broader.indices}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
        </tr>
    
        {% endif %}
    
    
        {% endfor %}
    
        </tbody>

        {% for stock in sectorprice %}
      <tbody>
        <tr>
      {% if stock.per_chan < -4 %} 
      
        
          <td class="newFont" style="background-color: #FF0000 ; ">
            <a  href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
            <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
          </td>
    
    
          {% elif stock.per_chan < -3 %} <td class="newFont" style="background-color: #FF6400;">
            <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
            <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
    
            {% elif stock.per_chan < -2 %} <td style="background-color: #FF9664;;">
              <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
              <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
    
              {% elif stock.per_chan < -1 %} <td style="background-color:  #FFC896;">
                <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
                <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
    
                {% elif stock.per_chan < 0 %} <td style="background-color: #FFE1AF;;">
                  <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
                  <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br></td>
    
                  {% elif stock.per_chan > 4 %}
    
                  <td class="newFont" style="background-color: #385724;;">
                    <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan > 3 %}
    
                  <td class="newFont" style="background-color: #548235;">
                    <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan > 2 %}
    
                  <td style="background-color: #A9D18E;;">
                    <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan > 1 %}
    
                  <td style="background-color: #C5E0B4;;">
                    <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan > 0 %}
    
                  <td style="background-color: #E2F0D9;;">
                    <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
    
                  {% elif stock.per_chan == 0 %}
    
                  <td style="background-color: #E2F0D9;;">
                    <a href="{% url 'stocks:sector-price' stock.sectorial.sector %}"><b>{{stock.sectorial.sector}}</a></b><br>
                    <b>{{stock.close}}</b><br><b>{{stock.per_chan}}%</b><br>
                  </td>
        </tr>
    
        {% endif %}
    
    
        {% endfor %}
    
        </tbody>

        
    
    
    </table>





{% endblock %}    